*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #00b4db;
    --secondary-color: #0083b0;
    --text-color: #f5f5f5;
    --dark-color: #02111B;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*  
    font-family: 'PT Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

h1{
    font-family: 'PT Sans', sans-serif;
}

h2{
    font-family: 'PT Sans', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background: linear-gradient(to bottom, #00b4db, #0083b0);
    padding-top: 4rem ;
}

.sidebar h1{
    color: var(--text-color);
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.sidebar a{
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--text-color);
    font-size: 1.8rem;
    text-align: center;
    transition:all 300ms ease-in-out;
}


.sidebar a:hover{
    color: var(--dark-color);
}

.sidebar li{
    margin: 2rem;
    list-style: none;
}

.sidebar-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    list-style: none;
}

.logo{
    width: 6rem;
    height: 6rem;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;   
}

/*Content*/

.content {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1, .content h2{
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.content h1{
    font-size: 48px;
}

.content h2{
    font-size: 35px;
}

section{
    padding-left: 5rem;
}

/*Bem Vindo*/

#sessao-bemvindo{
    padding-left:0;
}

.sessao-bemvindo-content{
    padding-left: 5rem;
}

#sessao-bemvindo .banner{
    height: 50rem;
    background-image: url(/assets/img/banner2.jpg);
    background-position: center;
    background-size: cover;
}

#sessao-bemvindo h1{
    margin-top: 7rem;
}

#sessao-bemvindo::after, #sessao-sobre::after{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 10rem;
}

.sessao-minibanner{
    width: 30rem;
    height: 40rem;
    background-image: url(/assets/img/banner3.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 5px;
}

.sessao-descricao{
    position: absolute;
    left: 37rem;
    max-width: 80rem;
    padding-right: 30px;
}

.sessao-descricao p {
    line-height: 2;
    font-size: 16px;
    margin-bottom: 3rem;
    margin-left: 2.5rem;
}

.sessao-bemvindo-btn, form input[type=submit]{
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 2rem 3rem;
    transition: all 0.5s ease-in-out;
    display: block;
    width: 17rem;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 25px;
}

.sessao-bemvindo-btn:hover, form input[type=submit]:hover{
    background-color: var(--primary-color);
    border-radius: 8px;
}

/* Sessao sobre */

#sessao-sobre .sessao-minibanner{
    float: right;
    margin-left: 5rem;
    margin-right: 5rem;
    background-image: url(/assets/img/banner4.jpg);
    width: 60rem;
    border-radius: 5px;
}

#sessao-sobre .sessao-descricao{
    position: absolute;
    left: 25px;
    width: calc(100% - 400px);
}

/* Galerias */

.banner-galeria{
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 20rem;
    border-radius: 5px;
}

#sessao-doces1, #sessao-doces2, #sessao-doces3{
    padding-right: 5rem;
    margin-bottom: 5rem;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 19.3%);
    gap: 1rem;
    overflow: hidden;
}

.gallery-img{
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.gallery-img div {
    transition: all 300ms ease-in-out;
}

.gallery-img div:hover {
    transform: translate(-3%, -3%) scale(1.25) rotate(5deg);
}

#img1{
    height: 200px;
    background-image: url(/assets/img/galeria1.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 0;
}

#img2{
    background-image: url(/assets/img/galeria2.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

#img3{
    background-image: url(/assets/img/galeria3.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

#img4{
    background-image: url(/assets/img/galeria4.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

#img5{
    background-image: url(/assets/img/galeria5.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0;
    height: 200px;
}

.grid2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    gap: 1rem;
    overflow: hidden;
}

#img6{
    background-image: url(/assets/img/galeria6.jpg);
    margin-left: 0;
    background-position: center;
    background-size: cover;
    height: 200px;
}

#img7{
    background-image: url(/assets/img/galeria7.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

#img8{
    background-image: url(/assets/img/galeria8.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-right:0 ;
}

.grid3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    gap: 1rem;
    overflow: hidden;
}

#img9{
    background-image: url(/assets/img/galeria9.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-left: 0;
}

#img10{
    background-image: url(/assets/img/galeria10.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

#img11{
    background-image: url(/assets/img/galeria11.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
}

#img12{
    background-image: url(/assets/img/galeria12.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-right: 0;
}

/* Contato */

#contact-form{
    width: 50rem;
}

#contact-form input[type=text], #contact-form input[type=email], #contact-form textarea{
    display: block;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 16px;
    font-family:'Poppins', sans-serif ;
}

#contact-form textarea{
    height: 15rem;
}

#contact-form input[type=text]:focus, #contact-form input[type=email]:focus, #contact-form textarea:focus{
    border: var(--dark-color);
}

#contact-form ::placeholder{
    color: var(--secondary-color);
}

#contact-form input[type=submit]{
    margin-left: 0;
    font-size: 16px;
    width: 18rem;
}

/* Footer */

footer{
    height: 7rem;
    padding-top: 2rem;
    color: var(--dark-color);
    font-size: 13px;
    color:var(--secondary-color);
}

footer p {
    text-align: center;
    align-items: center;
    font-weight: bold;
}
